# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local

# Dependency directories
node_modules/

# Build output
dist/
build/

# IDE/editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

# Python
**/__pycache__/
*.py[cod]

# Coverage reports
coverage/
.coverage